body {
	background-color: #54630;
	margin: 0;
	padding: 0;
	color: #eec12e;
	font-size: 20px;
	font-family: 'Comic Sans', cursive,  Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 30px auto;
	position: space-around;
}
