.filters {
	background-color: rgb(97, 6, 6);
	height: 70px;
	width: 100%;
	border: 1px solid #e48b07;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-right: 30px;
}

.locations, .amenities {
        height: 100%;
        width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 10;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

h3 {
	font-weight: 600;
	margin: 0;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}

.popover {
	display: none;
	position: absolute;
	top: 70px;
	background-color: #550202;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style: none;
	padding: 10px;
	z-index: 3;
}

.search-bar {
	font-size: 18px;
	padding: 10px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	width: 60%;
	margin-right: 10px;
}

.locations:hover .popover, .amenities:hover .popover {
	display: block;
	opacity: 100%;
}

.popover h2 {
	font-size: 16px;
	margin: 0 0 10px 0;
}

button {
	font-size: 18px;
	background-color: #eec12e;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	opacity: 0.9;
}

