.places {
	margin-top: 30px;
	display: grid;
	justify-content: space-around;
	grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
	gap: 10px;
}

.places h1 {
	font-size: 30px;
	margin: 0 0 20px 0;
	width: 200%;
	grid-column: span 2;
}

article {
	background-color: rgb(5, 70, 48);
	width: 470px;
	padding: 10px;
	margin: 20px;
	border: 1px solid #cc141a;
	border-radius: 8px;
	position: relative;
	z-index: 1;
	min-height: 200px;
}

article h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}

.price_by_night {
	color: #DDDDDD;
	border: 2px solid #DDDDDD;
	border-radius: 50%;
	min-width: 70px;
	height: 50px;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.information {
	height: 80px;
	border-top: 1px solid #500404;
	border-bottom: 1px solid #500404;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.information div {
	width: 100px;
	text-align: center;
}

.user {
	margin-top: 10px;
}

.user strong {
	font-weight: bold;
}

.description {
	margin-top: 10px;
}
